body {
    text-align: center;
    background-color:rgb(235, 250, 210);
}

h1 {
    color: #343a40;
    margin-bottom: 20px;
}


.form-group {
    margin-bottom: 15px;
}

button {
    background-color: rgb(193, 232, 132);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(116, 135, 86);
    color: white;
}


.subList-class button {
    margin-left: 10px;
    margin-bottom: 10px;
}